@model ErrorViewModel
@{
    ViewData["Title"] = @Locals["Error"];
}

<h1 class="text-danger">@Locals["Error"]</h1>
<h2 class="text-danger">@Locals["An error occurred while processing your request."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Locals["Request ID:"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    @Locals["Swapping to"] <strong>@Locals["Development"]</strong> @Locals["environment will display more detailed information about the error that occurred."]
</p>
<p>
    <strong>@Locals["The Development environment shouldn't be enabled for deployed applications."]</strong>
    @Locals["It can result in displaying sensitive information from exceptions to end users."]
   @Locals["For local debugging, enable the"] <strong>@Locals["Development"]</strong> @Locals["environment by setting the "]<strong>@Locals["ASPNETCORE_ENVIRONMENT"]</strong> @Locals["environment variable to"] <strong>@Locals["Development"]</strong>
    @Locals["and restarting the app."]
</p>
