@model IEnumerable<PresseMots_DataModels.Entities.Tag>

@{
    ViewData["Title"] = @Locals["Index"];
}

<h1>@Locals["Tags"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">@Locals["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Index" asp-controller="Stories">@Locals["&laquo; Back to the stories"]</a>
</p>